
@{
    ViewBag.Title = "NoPermission";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="Hui-article-box">
    @*<h2>对不起，您没有权限！！！</h2>*@
    <img src="~/images/noper.jpg" />
</section>
